<html>
    <head>
        <title>Weather App</title>
    </head>
    <h1>Welcome to WeatherApp</h1>
    <div class="addCity">
        <form action="{% url 'addcity' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Add City">
        </form>
    </div>
    <h3>Data after calling the API: </h3>{{ city_weather }}
    <p>Also the image icon is</p>
    <img src="http://openweathermap.org/img/w/{{ city_weather.icon }}.png" alt="Something went wrong">
    <h3>Diplaying multiple cities</h3>
    {% for msg in messages %}
    </div>
    <li style="display: inline;">
        <div class = 'alert alert-{{ msg.level_tag }} mt-2' roll = 'alert'>
            {{ msg.message }}
        </div>
    </li>
    {% endfor %}
    {% for city_weather in weather_data %}
        <ul>
            <li>{{ city_weather.city }}</li>
            <li>{{ city_weather.temperature }}</li>
            <li>{{ city_weather.description }}</li>
            <li>{{ city_weather.icon }}</li>
        </ul>
    {% endfor %}
</html>